html {
     font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
    margin: 0;
}

.navbar {
    background-color: white; 
    background-image: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.1));
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 120px;
    position: fixed;
    width: 100%;
    margin-bottom: 30px;
    overflow: auto;
}

.navbar p {
    color: #9c031e;
    font-size: 35px;
    font-weight: bolder;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.menubtn {
    color: #9c031e;
    margin: 15px 15px 0 0;
    font-size: 60px;
    float: right;
    font-weight: bold;
    padding: 1px 15px;
    border: 5px solid #9c031e;
    border-radius: 12px;
}

.addresults-btn {
    background-color: #9c031e; 
    background-image: linear-gradient(rgba(156,3,30,0), rgba(0,0,0,0.2));
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: none;
    color: white;
    width: 90%;
    height: auto;
    text-transform: uppercase;
    padding: 50px 30px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    margin: 10px auto;
    border-radius: 12px; 
    justify-content: center;
}


.row {
    margin: auto;
    padding-bottom: 120px;
    padding-top: 120px;
}

.logo {
    padding: 100px 30px 100px 30px;
}

.logo h1 {
    text-align: center;
    color: #9c031e;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: center;
    padding: 15px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}



/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    top: 0;
    background-color: #9c031e; 
    background-image: linear-gradient(rgba(156,3,30,0), rgba(0,0,0,0.2));
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.1s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}   

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FFF;
    text-transform: uppercase;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay-content hr {
    width: 70%;
}

.profile-card {
    width: 80%;
    height: auto;
    padding: 40px 50px 80px 50px;
    margin: auto;
    background-color: #9c031e; 
    background-image: linear-gradient(rgba(156,3,30,0), rgba(0,0,0,0.2));
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: white;
    justify-content: center;
    border-radius: 12px; 
}

.profile-card .title {
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
}

.profile-card img {
    width: 200px;
    float: left;
    border-radius: 50%;
    margin: 0 20px 60px 0; 
    background-color: white;
    border: 10px solid white; 
}

.profile-card h2 {
    margin: 0 auto;
    padding: 10px;
    font-size: 25pt;
    text-transform: uppercase;
}

.profile-card ul {
    list-style-type: none;
}

.profile-card li {
    font-size: 18px;
    padding: 5px;
}



.wrap {
    display: flex;
    justify-content: center; 
    width: 90%;
    margin: 30px auto; 
}

.left, .right {
    background-color: #9c031e; 
    background-image: linear-gradient(rgba(156,3,30,0), rgba(0,0,0,0.2));
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: white;
    padding: 50px 30px;
    width: 45%;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
}

.left img, .right img {
    width: 200px;
    border-radius: 50%;
    margin-right: 20px;
    display:block;
    margin:auto;
    background-color: white;
    border: 10px solid white; 
}

.left p, .right p {
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
}

.left {
    margin-right: 15px;
}

.right {
    margin-left: 15px;
}

footer {
    background-color: white; 
    background-image: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.1));
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    height: 120px;
    width: 100%;
    text-align: center;
    color: #9c031e;
}

footer p {
    color: #9c031e;
    font-size: 22px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
    .col-s-1 {width: 25%;}
    .col-s-2 {width: 40%;}
    .col-s-3 {width: 50%;}
    .col-s-4 {width: 60%;}
    .col-s-5 {width: 70%;}
    .col-s-6 {width: 85%;}
    .col-s-7 {width: 90%;}
    .col-s-8 {width: 95%;}
    .col-s-9 {width: 100%;}
    
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
    .col-1 {width: 25%;}
    .col-2 {width: 40%;}
    .col-3 {width: 50%;}
    .col-4 {width: 60%;}
    .col-5 {width: 70%;}
    .col-6 {width: 85%;}
    .col-7 {width: 90%;}
    .col-8 {width: 95%;}
    .col-9 {width: 100%;}
}
